<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797878901932-kv10lgcdiutoh54t1c1s2vo18b7nnv7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797878901932-kv10lgcdiutoh54t1c1s2vo18b7nnv7l</string>
	<key>API_KEY</key>
	<string>AIzaSyCbW-znjdYU01wVbKzUZ90kahk1ANOiwCM</string>
	<key>GCM_SENDER_ID</key>
	<string>797878901932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.aboy.bookListSample2</string>
	<key>PROJECT_ID</key>
	<string>book-list-sample2-c46ad</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-sample2-c46ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797878901932:ios:48cd06c40ab1fe1d31d309</string>
</dict>
</plist>